<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IBroadCastService">
     <security mode="None">
      <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
      <message clientCredentialType="Windows"/>
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://192.168.1.225:4502/HKH.WCF.IISHost/broadcast.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroadCastService" contract="HKH.WCF.IBroadCastServiceProxy" name="NetTcpBinding_IBroadCastService"/>
  </client>
    <client>
      <!-- for iishost -->
      <endpoint address="net.tcp://192.168.1.225:4502/HKH.WCF.IISHost/broadcast.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroadCastService" contract="HKH.WCF.IBroadCastServiceProxy" name="NetTcpBinding_IBroadCastService"/>

      <!-- for apphost -->
      <!--<endpoint address="net.tcp://localhost:9999/BroadCastService/SRV" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroadCastService" contract="HKH.WCF.IBroadCastServiceProxy" name="NetTcpBinding_IBroadCastService">
       </endpoint>-->
    </client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
