<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hkhConnectionStrings" type="HKH.Data.Configuration.HKHConnectionStringsSection,HKH.DataProvider"></section>
  </configSections>
  <hkhConnectionStrings>
    <add name="sqlConn" connectionString="Server=.;Database=HKHUnitTest;UId=sa;Pwd=sa123;" isDefault="true"/>
    <add name="oleConn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=[Access];User Id=admin;Password=[password];" builder="HKH.Data.OleDb.OleDbObjectBuilder,HKH.DataProvider"/>
  </hkhConnectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
