<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hkhConnectionStrings" type="HKH.Data.Configuration.HKHConnectionStringsSection,HKH.DataProvider"></section>
  </configSections>
  <hkhConnectionStrings>
    <add name="sqlConn" connectionString="Data Source=.;Initial Catalog=ExcelTest;User ID=sa;Password=sa123;Integrated Security=false;" isDefault="true" />
    <!-- excelConn是为导出导入用的，所以没有配置Data Source，在使用时针对实际文件添加 -->
    <add name="excelConn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Excel 8.0;HDR=NO;IMEX=1'" builder="HKH.Data.OleDb.OleDbObjectBuilder,HKH.DataProvider" />
  </hkhConnectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.1" newVersion="2.4.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
