<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configProtectedData defaultProvider="HKHProtectedConfigurationProvider">
    <providers>
      <clear/>
      <add name="HKHProtectedConfigurationProvider" type="HKH.Data.Configuration.HKHProtectedConfigurationProvider, HKH.DataProvider"/>
    </providers>
  </configProtectedData>
  <connectionStrings>
    <add name="RxControlEntities" connectionString="metadata=res://*/RxControl.csdl|res://*/RxControl.ssdl|res://*/RxControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=222.223.217.26,8060;initial catalog=RxControl;persist security info=True;user id=rxtest;password=rxtest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
