<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hkh.tasks" type="HKH.Tasks.Configuration.HKHTaskSection,HKH.Tasks"></section>
  </configSections>
  <hkh.tasks>
    <add name="encodingTask" taskType="HKH.Tasks.ParallelTask`1[[HKH.WCF.BroadCastMessage,HKH.WCF]],HKH.Tasks" maxTaskCount="100"/>
  </hkh.tasks>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="BroadCastServiceBehavior" name="HKH.WCF.BroadCastService">
        <endpoint address="SRV" binding="netTcpBinding" contract="HKH.WCF.IBroadCastService">
          <!--<identity>
						<dns value="localhost" />
					</identity>-->
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9999/BroadCastService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BroadCastServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
