<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
    <section name="hkhConnectionStrings" type="HKH.Data.Configuration.HKHConnectionStringsSection,HKH.DataProvider"></section>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration" />
	</configSections>
  <hkhConnectionStrings>
    <add name="AzureConn" builder="HKH.Data.SqlDatabase.SqlDatabaseObjectBuilder,HKH.Data.SqlDatabase"
			 connectionString="Server=tcp:xu2sbe42lm.database.windows.net,1433;Database=SJDev;User ID=sjdev@xu2sbe42lm;Password=p@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
  </hkhConnectionStrings>
	<RetryPolicyConfiguration defaultRetryStrategy="FixedIntervalDefault" defaultSqlConnectionRetryStrategy="ConnFixedIntervalDefault" defaultSqlCommandRetryStrategy="CmdFixedIntervalDefault" >
		<fixedInterval name="ConnFixedIntervalDefault" maxRetryCount="3" retryInterval="00:00:00.1" />
		<fixedInterval name="CmdFixedIntervalDefault" maxRetryCount="3" retryInterval="00:00:00.1" />
		<!--<incremental name="IncrementalIntervalDefault" maxRetryCount="3" initialInterval="00:00:00.01" retryIncrement="00:00:00.05" />-->
	</RetryPolicyConfiguration>
</configuration>